@import "tailwindcss";

@theme {
  --color-chassis: #08090D;
  --color-surface: #12141C;
  --color-primary: #E4002B;
  --color-primary-cyan: #00D1FF;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #94A3B8;
  --color-success: #00FF41;
}

@utility text-glow {
  text-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
}

body {
  @apply bg-chassis text-text-primary;
}
